Thanks {{ name }}!

<p>Thank you for filling out our sign up form. We are glad that you joined us. For this reason, we are giving you a special offer. Here is the link to the coupon for you to exclusively use on our website.</p>
<p>Have a nice day,</p>
Demo Microservice